@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}   

body.dark {
    color: white;
    background: black;
    transition: 0.5s;
}

body {
    background: #d3d0d0;
    transition: 0.5s;
    overflow: hidden;
}

li {
    flex-wrap: wrap;
}

.top.dark {
    background-color: #333;
    color: #FFF;
}

.top {
    background: #d6e9ee;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgba(109, 106, 106, 0.6);
    transition: 0.5s;
}

.logo {
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin-left: 20px;
}

.logo span {
    color: black;
    margin-left: 5px;
}

.menu-btn.dark {
    color: #FFF;
}

.menu-btn {
    color: black;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.menu-btn:hover {
    color: #0099CC;
}

.sidebar.dark {
    background-color: #344;
    color: #FFF;
}

.sidebar.dark a {
    color: white;
}

.sidebar.dark a:hover {
    background: rgb(238, 16, 238);
}


.sidebar {
    background: #FFF;
    position: absolute;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
}

.side-title {
    color: #0099CC;
    text-align: center;
    margin-top: 20px;
}

.side-title span {
    color: #FFED00;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: 0.5s;
    font-weight: 500;
}

.navigation a:hover {
    background: #d6e9ee;
    border-left: solid black 5px;
}

.navigation .icon {
    width: 20px;
    height: 20px;
}

.navigation .instagram-icon {
    position: fixed;
    bottom: 15%;
    width: 250px;
}

#menu-box {
    display: none;
}

#menu-box:checked ~ aside .sidebar {
    margin-left: -250px;
}

.theme-btn.dark {
    color: #FFF;
}

.theme-btn {
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#theme {
    text-decoration: none;
    color: black;
}

.theme-btn:hover {
    color: #0099CC;
}

.left {
    display: flex;
}

.marks {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.marks img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-left: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100vw;
    height: 80px;
    gap: 30px;
    background-color: #333;
}

.bottom.dark {
    color: #FFF;
    background: #333;
}

.bottom .icon {
    width: 30px;
    height: 30px;
}

.bottom a {
    text-decoration: none;
    color: #FFF;
    transition: 0.5s;
}

.bottom a:hover {
    color: #0099CC;
}

.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  background: #FFF;
  border-radius: 10px;
  width: 80%;
  box-shadow: 10px 10px 10px 0px rgba(109, 106, 106, 0.6);
  transition: 0.5s;
}

.container.dark {
    background: #333;
}

.container.dark .ongs a {
    color: #FFF;
}

.container .ongs a {
    text-decoration: none;
    color: black;
    line-height: 35px;
}

.map h1 {
    text-align: center;
    margin-top: 20px;
}

.map-card {
    height: 350px;
    width: 500px;
    border-radius: 10px;
    margin: 0 auto;
    transition: 0.5s;
}

.map-card.dark {
    filter: invert(100%);
}

@media(max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;
        background: #FFF;
        border-radius: 10px;
        width: 90%;
        height: 50vh;
    }
    .map-card {
        width: 100%;
    }
    .container .ongs a {
        margin: 0 auto;
        font-size: 10px;
        line-height: normal;
    }
}

@media(max-width: 816px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;
        background: #FFF;
        border-radius: 10px;
        width: 90%;
    }
    .map-card {
        width: 100%;
    }
    li {
        margin: 0 auto;
    }
}